Front End/Operation Keyword/SeoFrontEnd/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEOServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKeywordService_GetKeywordResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordResults" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetKeywordResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetAllKeywords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKeywords" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetAllKeywords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKeywordsResponse" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_CrawlKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:CrawlKeyword" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_CrawlKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrawlKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetKeywordStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordStats" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetKeywordStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetUserStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStats" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetUserStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWebsiteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebsiteInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWebsiteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebsiteInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IKeywordService">
    <wsdl:operation name="GetKeywordResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordResults" message="tns:IKeywordService_GetKeywordResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordResultsResponse" message="tns:IKeywordService_GetKeywordResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKeywords">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/GetAllKeywords" message="tns:IKeywordService_GetAllKeywords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/GetAllKeywordsResponse" message="tns:IKeywordService_GetAllKeywords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrawlKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/CrawlKeyword" message="tns:IKeywordService_CrawlKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/CrawlKeywordResponse" message="tns:IKeywordService_CrawlKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeywordStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordStats" message="tns:IKeywordService_GetKeywordStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordStatsResponse" message="tns:IKeywordService_GetKeywordStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/GetUserStats" message="tns:IKeywordService_GetUserStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/GetUserStatsResponse" message="tns:IKeywordService_GetUserStats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebsiteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetWebsiteInfo" message="tns:IUserService_GetWebsiteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetWebsiteInfoResponse" message="tns:IUserService_GetWebsiteInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKeywordService" type="tns:IKeywordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeywordResults">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/GetKeywordResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeywords">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/GetAllKeywords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrawlKeyword">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/CrawlKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeywordStats">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/GetKeywordStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStats">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/GetUserStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebsiteInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetWebsiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IKeywordService" binding="tns:BasicHttpBinding_IKeywordService">
      <soap:address location="http://local.seoservices.com/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://local.seoservices.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>