Front End/Operation Keyword/SeoFrontEnd/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEOServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKeywordService_GetKeywordResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordResults" />
  </wsdl:message>
  <wsdl:message name="IKeywordService_GetKeywordResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeywordResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddWebsiteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsiteInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddWebsiteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsiteInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWebsiteInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebsiteInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWebsiteInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebsiteInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IKeywordService">
    <wsdl:operation name="GetKeywordResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordResults" message="tns:IKeywordService_GetKeywordResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeywordService/GetKeywordResultsResponse" message="tns:IKeywordService_GetKeywordResults_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddWebsiteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddWebsiteInfo" message="tns:IUserService_AddWebsiteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddWebsiteInfoResponse" message="tns:IUserService_AddWebsiteInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWebsiteInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetWebsiteInfo" message="tns:IUserService_GetWebsiteInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetWebsiteInfoResponse" message="tns:IUserService_GetWebsiteInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKeywordService" type="tns:IKeywordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeywordResults">
      <soap:operation soapAction="http://tempuri.org/IKeywordService/GetKeywordResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWebsiteInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddWebsiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebsiteInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetWebsiteInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IKeywordService" binding="tns:BasicHttpBinding_IKeywordService">
      <soap:address location="http://local.seoservices.com/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://local.seoservices.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>