Crawler/SEOCrawler/SEOCrawler/Service References/SEOService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://local.seoservices.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEOServices" />
  <xs:element name="GetKeywordResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeywordResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetKeywordResultsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKeywordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEOServices" minOccurs="0" name="GetAllKeywordsResult" nillable="true" type="q2:KeywordList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrawlKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrawlKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrawlKeywordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeywordStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeywordStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetKeywordStatsResult" nillable="true" type="q3:ArrayOfKeyValueOfstringKeywordStatsEh0D264C" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWebsiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywords" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWebsiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWebsiteInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebsiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebsiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SEOServices" minOccurs="0" name="GetWebsiteInfoResult" nillable="true" type="q5:WebsiteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>